.account {
    &_icon {
        display: block;
        background: url(#{$img}/account.svg) no-repeat center right 16px / 30px 30px;
        font-weight: bold;
        font-size: 18px;
        height: 65px;
        line-height: 65px;
        color: $color;
        @include desktop {
            display: inline-block;
            font-size: 0;
            width: 30px;
            height: 30px;
            line-height: 21px;
            background-position: center;
        }
    }
}
