.advantages {
    padding: 42px 20px 18px;
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 0;
        padding-right: 0;
    }
    @include desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }


    &_item {
        display: flex;
        margin: 0 0 28px;
        @include tablet {
            max-width: 90%;
        }
        @include desktop {
            max-width: 80%;
        }
    }
    &_item-icon-wrapper {
        width: 80px;
        flex-shrink: 0;
        @include desktop {
            width: 118px;
        }
    }
    &_item-icon {
        width: 60px;
        @include desktop {
            width: 80px;
        }
    }
    &_item-title {
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        color: $color;
    }
    &_item-value {
        color: #8F8F8F;
        display: block;
        margin: 0 0 6px;
        font-size: 16px;
        line-height: 18px;
    }
}
