.features {
    padding: 24px 15px;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    @include desktop {
        gap: 38px;
        flex-wrap: nowrap;
        padding: 24px 0;
    }

    &__vertical {
        display: block;
        padding-bottom: 0;
    }

    &_item {
        display: flex;
        align-items: flex-start;
        margin: 0 0 20px;
        @include tablet {
            width: auto;
            margin: 0;
        }

        .features__vertical & {
            margin: 0 0 45px;

            &:last-child {
                margin: 0 0 20px;
            }
        }
    }
    &_icon {
        margin: 0 20px 0 0;
        flex-shrink: 0;
        width: 60px;
    }
    &_title {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 5px;
    }
    &_text {
        color: #8F8F8F;
        font-size: 14px;
        line-height: 24px;
    }
}
