.features {
    padding: 24px 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @include tablet {
        gap: 38px;
        flex-wrap: nowrap;
        padding: 24px 0;
    }

    &_item {
        width: calc(50% - 15px);
        display: flex;
        align-items: flex-start;
        @include tablet {
            width: auto;
        }
    }
    &_icon {
        margin: 0 20px 0 0;
        flex-shrink: 0;
    }
    &_title {
        display: block;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 5px;
    }
    &_text {
        color: #8F8F8F;
        font-size: 14px;
        line-height: 24px;
    }
}
