.info {
    color: #8F8F8F;
    border: 1px solid currentColor;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    height: 16px;
    line-height: 17px;
    width: 16px;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
    margin: -2px 0 0 8px;
}
