.parts-list {
    background: #fff;
    padding: 40px 20px 26px;
    @include tablet {
        padding: 40px 38px 26px;
    }
    @include desktop {
        padding: 40px 52px 26px;
    }

    &_holder {
        @include layout;
    }
    &_title {
        display: block;
        margin: 0 0 45px;
        font-weight: bold;
        font-size: 30px;
        line-height: 34px;
        text-transform: uppercase;
        text-align: center;
    }
    &_columns {
        @include desktop {
            display: flex;
        }
    }
    &_column {
        @include desktop {
            width: 33.3%;
        }
    }

    &_item {
        padding: 0 0 0 38px;
        position: relative;
        border-bottom: 1px solid $bg_color;
        @include desktop {
            margin: 0 0 24px;
            padding-left: 80px;
            border: none;
        }
    }
    &_item-icon {
        position: absolute;
        left: 0;
        top: 14px;
        width: 28px;
        @include desktop {
            width: 46px;
            top: 0;
        }
    }
    &_item-title {
        display: block;
        margin: 0 0 5px;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
        padding: 14px 0;
        color: $color;
        background: url(#{$img}/chevron-down.svg) no-repeat center right / 15px 9px;
        @include desktop {
            background: transparent;
            padding: 0;
        }

        &:hover {
            color: $cRed;
        }

        .parts-list_item.active & {
            border: none;
            background-image: url(#{$img}/chevron-up.svg);
        }
    }
    &_item-list {
        display: none;
        padding: 0 0 14px;
        @include desktop {
            display: block;
            padding: 0;
        }

        .parts-list_item.active & {
            display: flex;
            flex-wrap: wrap;
            @include desktop {
                display: block;
            }
        }
    }
    &_item-link {
        display: block;
        font-size: 18px;
        line-height: 35px;
        color: $color;
        @include tablet {
            width: 50%;
        }
        @include desktop {
            width: 100%;
        }

        &:hover {
            color: $cRed;
        }
    }
    &_item-value {
        position: relative;
    }
    &_item-count {
        position: absolute;
        top: -16px;
        right: -32px;
        font-size: 14px;
        line-height: 24px;
        color: #999;
    }
}
