.quick-search {
    color: #fff;
    background: url(#{$img}/header.jpg) no-repeat center / cover;
    padding: 54px 0;
    @include tablet {
        padding-left: 64px;
        padding-right: 64px;
    }

    &_holder {
        @include layout;
    }
    &_title {
        font-weight: bold;
        font-size: 36px;
        line-height: 41px;
        text-align: center;
        margin: 0 0 10px;
        display: block;
    }
    &_subtitle {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        display: block;
        margin: 0 0 36px;
    }
    &_filters {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;
        }
        @include desktop {
            flex-wrap: nowrap;
        }
    }
    &_filters-item {
        flex-grow: 1;
        margin: 0 0 16px;
        @include tablet {
            width: calc(50% - 30px);
        }
        @include desktop {
            margin: 0;
            width: auto;
            width: calc(25% - 30px);
        }

        & > input,
        & > .choices {
            width: 100%;
        }
    }
    &_submit[type] {
        height: 50px;
    }
}
