.search {
    display: none;
    @include tablet {
        display: flex;
        margin: 0 15px 0 0;
    }

    &_input[type] {
        height: 45px;
        line-height: 45px;
        flex-grow: 1;
        width: 370px;
    }
    &_button[type] {
        height: 45px;
        line-height: 45px;
        background: $color url(#{$img}/search.svg) no-repeat center right 12px / 17px 17px;
        text-align: left;
        padding: 0 10px;
        width: 116px;
    }
}
