.search {
    display: flex;
    margin: 0 15px 0 0;

    &_input[type] {
        height: 45px;
        line-height: 45px;
        flex-grow: 1;
        width: 260px;
        @include desktop {
            width: 15vw;
            max-width: 370px;
        }
    }
    &_button[type] {
        height: 45px;
        line-height: 45px;
        background: $color url(#{$img}/search.svg) no-repeat center center / 17px 17px;
        text-align: left;
        padding: 0 10px;
        width: 45px;
        font-size: 0;
        @include desktop {
            background-position: center right 12px;
            font-size: 18px;
            width: 116px;
        }
    }
}
