.search-results {
    @include tablet {
        max-height: 70vh;
        overflow: auto;
    }

    &_categories {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    &_categories-item {
        padding: 7px 0 7px 15px;
        background: url(#{$img}/chevron-right.svg) no-repeat -8px 5px;
    }
    &_categories-name {
        color: $color;
        margin: 0 10px 0 0;
    }
    &_categories-count {
        color: $color;
        font-size: 11px;
        line-height: 18px;
        color: #8F8F8F;
    }
    &_title {
        font-weight: bold;
        font-size: 18px;
        color: $color;
    }

    table {
        margin: 30px 0 50px;
    }

    tr {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #F2F2F2;
        @include tablet {
            display: table-row;
            border: none;
        }
    }
    td {
        display: block;
        padding: 15px 0;
        @include tablet {
            display: table-cell;
            border-bottom: 1px solid #F2F2F2;
        }

        &:nth-child(1) {
            width: 35%;
            @include tablet {
                width: 15%;
            }
        }
        &:nth-child(2) {
            width: 65%;
            display: flex;
            align-items: center;
            @include tablet {
                display: table-cell;
                padding-left: 25px;
                padding-right: 25px;
                width: auto;
            }
        }
        &:nth-child(3),
        &:nth-child(4) {
            width: 100%;
            @include tablet {
                width: auto;
            }
        }
    }
    tr:first-child {
        border-top: 1px solid #F2F2F2;
        @include tablet {
            border: none;
        }

        td {
            @include tablet {
                border-top: 1px solid #F2F2F2;
            }
        }
    }
}
