.content {
    @include layout;
    padding: 0 15px;
    margin-bottom: 50px;
    @include tablet {
        display: flex;
        margin-bottom: 100px;
    }
    @include desktop {
        padding: 0;
    }

    &_sidebar {
        @include tablet {
            width: $sidebar-width;
            margin: 0 30px 0 0;
            flex-shrink: 0;
        }
    }
}
