.content {
    padding: 0 0 0 24px;
    @include tablet {
        display: flex;
        gap: 30px;
        padding-bottom: 130px;
    }
    @include desktop {
        padding-left: 180px;
        gap: 74px;
    }

    &_column {
        &:last-child {
            padding: 0 0 66px;
            margin: 0 0 70px;
            max-width: 550px;
            position: relative;
            @include tablet {
                margin: 0;
                padding: 0;
            }

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                top: 100%;
                margin-left: -42px;
                height: 4px;
                width: 60px;
                background: $color;
                @include tablet {
                    content: none;
                }
            }
        }

        h1 {
            @include tablet {
                margin-top: 30px;
            }
            @include desktop {
                margin-top: 0;
            }
        }
        h2 {
            @include tablet {
                max-width: 80%;
            }
        }
        h3:first-child {
            @include tablet {
                margin-top: 30px;
            }
            @include desktop {
                margin-top: 6px;
            }
        }
    }
}
