.tabs {
    &__good {
        width: 100%;
    }

    &_header {
        display: flex;
        justify-content: flex-start;
        position: relative;
        overflow: auto;
        padding-bottom: 12px;
        @include tablet {
            padding-bottom: 0;
        }

        //&::after {
        //    content: '';
        //    position: absolute;
        //    top: 100%;
        //    left: 0;
        //    right: 0;
        //    border-bottom: 1px solid $bg_color;
        //}
        //.tabs__good &::after {
        //    content: none;
        //}
    }
    &_button {
        color: $cRed;
        font-weight: bold;
        height: auto;
        font-size: 18px;
        line-height: 1;
        padding: 13px 20px;
        min-width: 210px;
        background: transparent;
        border-bottom: 1px solid $bg_color;
        transition: .2s ease border;

        &:hover,
        &.active {
            border-color: $cRed;

            .tabs__good & {
                color: $color;
                border-color: $color;
            }
        }

        .tabs__good & {
            color: $color;
        }
    }
    &_content {
        padding: 15px 0;
        display: none;

        &.active {
            display: block;
        }

        .tabs__good & {
            padding-top: 30px;
            @include tablet {
                padding-top: 50px;
            }
        }
    }
}
