@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-BlackItalic.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-Italic.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-Bold.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-Roman.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-Medium.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-Thin.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-Light.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-Black.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-BoldItalic.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-UltraLightItalic.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-UltraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-LightItalic.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-ThinItalic.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    src: url('src/fonts/subset-HelveticaNeueCyr-UltraLight.woff2') format('woff2'),
        url('src/fonts/subset-HelveticaNeueCyr-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

