$img: "src/img";

$bg_color: #F2F2F2;

$color: #313235;
$cRed: #F93F20;
$cLight: #F8F8F8;
$cGrey: #C4C4C4;
$cBlue: #226b83;
$cYellow: #dbb908;
$cGreen: #7DC900;

$font-family: 'HelveticaNeueCyr', Helvetica, sans-serif;

$font-size: 16px;
$font-size__small: 14px;

$max-width: 1452px;
$sidebar-width: 350px;
$indent: 40px;

// easings
$easeOutCirc: cubic-bezier(.07, .82, .17, 1);
$easeInOutCirc: cubic-bezier(.78, .13, .15, .86);
$easeInCirc: cubic-bezier(.6, .04, .98, .34);
$easing: $easeInOutCirc;
