.add-to-cart {
    width: 100%;
    padding: 0 30px 0 10px;
    text-align: left;
    height: 42px;
    line-height: 42px;
    border-radius: 3px;
    background: $cRed url(#{$img}/cart-light.svg) no-repeat right 12px center / 22px auto;
    @include tablet {
        min-width: 0;
        width: 140px;
    }

    &__small {
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        background-size: 11px auto;
        width: 85px;
    }

    &.active {
        background-color: $cGreen;
        background-image: url(#{$img}/cart-added.svg);
        background-position-y: 40%;
    }

    &:hover {
        opacity: .6;
    }
    &:active {
        opacity: .8;
    }
}
