.availibility {
    font-weight: 500;
    padding: 0 0 0 26px;
    color: $cGreen;
    background: url(#{$img}/check-green.svg) no-repeat left center;
    white-space: nowrap;

    &__order {
        background-image: url(#{$img}/clock-orange.svg);
        color: $cYellow;
    }
    &__canceled {
        background-image: url(#{$img}/delete.svg);
        color: $cRed;
    }
}
