.cards {
    margin: 0 0 30px;
}

.card {
    background: #fff;
    padding: 22px 0 25px;
    position: relative;
    border-top: 1px solid #F2F2F2;
    transition: .2s ease box-shadow, .2s ease border;
    @include desktop {
        padding: 24px 50px 22px 26px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .search-popup & {
        padding-top: 0;
        padding-bottom: 0;
    }

    &:hover {
        @include tablet {
            z-index: 1;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
            border-top-color: transparent;
        }
    }

    &__small {
        display: block;
        background-color: transparent;
        border-top: none;
        @include desktop {
            padding-right: 26px;
        }

        &:hover {
            box-shadow: none;

        }
    }

    &_left {
        flex-grow: 1;
        @include desktop {
            display: flex;
            align-items: center;
        }

        & > a {
            width: 220px;
            flex-shrink: 0;
        }
        .search-results & > a {
            width: auto;
        }
    }
    &_data {
        margin: 0 0 30px;
        flex-grow: 1;
        @include desktop {
            margin: 0px 50px 0px 5px;
        }
    }
    &_image {
        width: 180px;
        flex-shrink: 0;
        margin: 0 40px 0 0;
        max-height: 300px;
        object-fit: contain;

        &__small {
            width: 84px;
        }
        .card__small & {
            margin: 0 auto 26px;
        }
    }
    &_title {
        color: $color;
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
    }
    &_subtitle {
        font-size: 16px;
        line-height: 1;
        display: block;
        margin: 6px 0 0;
        color: #8F8F8F;
    }
    &_table-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 7px 0 0;

        &__no-indent {
            margin-top: 0;
        }
    }
    &_table-cell {
        &:nth-child(1) {
            color: #8F8F8F;
            flex-grow: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px;
            @include desktop {
                max-width: 300px;
            }
        }
        &:nth-child(2) {
            flex-grow: 10;
            height: 13px;
            border-bottom: 1px solid #EBEBEB;
            margin: 0 10px;
        }
        &:nth-child(3) {
            flex-grow: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
            @include desktop {
                max-width: 200px;
            }
        }

        &__align {
            padding: 12px 0 0;
            
            &:nth-child(3) {
                max-width: none;
                overflow: visible;
            }
        }
    }
    &_table,
    &_controls {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        @include desktop {
            flex-direction: column;
            align-items: flex-end;
            justify-content: inherit;
            margin: 0 0 0 30px;
        }
    }
    &_availibility {
        order: 2;
        @include desktop {
            order: inherit;
        }
    }
    &_price {
        order: 1;
        @include desktop {
            order: inherit;
            margin: 12px 0 32px;
            text-align: right;
        }

        .card__small & {
            @include desktop {
                text-align: left;
                margin-bottom: 26px;
            }
        }
        .search-results & {
            @include desktop {
                margin-bottom: 0;
            }
        }
    }
    &_button {
        order: 3;
        width: 100%;
        margin: 20px 0 0;
        @include desktop {
            order: inherit;
            margin: 0;
            display: flex;
            justify-content: flex-end;
        }

        .card__small & {
            @include desktop {
                display: block;
            }

            button {
                width: 100%;
            }
        }
    }
    &_offers {
        @include button;
        white-space: nowrap;
        font-size: 16px;
        min-width: 0;
        margin: 0 0 16px;
        @include tablet {
            min-width: 0;
            margin: 0;
        }
    }
}
