.cart-table {
    margin-bottom: 30px;

    &_image {
        width: 40px;
        @include tablet {
            width: 95px;
        }
    }
    &_title {
        color: $color;
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        @include tablet {
            line-height: 24px;
        }
        @include desktop {
            font-size: 20px;
        }
    }
    &_cell {
        @include tablet {
            padding: 22px;
            position: relative;
        }

        .old-price {
            @include tablet {
                display: block;
            }
        }
    }
    &_delete {
        background: url(#{$img}/delete.svg) no-repeat center center / 12px 12px;
        position: absolute;
        top: 0;
        right: -12px;
        width: 12px;
        height: 12px;
        padding: 12px;
        box-sizing: content-box;
        @include tablet {
            top: -12px;
        }
    }

    thead {
        display: none;
        @include tablet {
            display: table-header-group;
        }
    }
    th {
        color: rgba(143, 143, 143, .5);
        font-weight: bold;
        font-size: 18px;
        line-height: 1;
        padding: 16px;
        border-bottom: 1px solid rgba(143, 143, 143, .5);

        &:nth-child(3),
        &:nth-child(4) {
            text-align: center;
            border-left: 1px solid #F2F2F2;
            padding-left: 40px;
            padding-right: 40px;
        }
    }
    td {
        padding: 20px 0;
        @include tablet {
            border-bottom: 1px solid rgba(143, 143, 143, .5);
        }

        &:nth-child(1) {
            @include desktop {
                padding-left: 30px;
                padding-right: 30px;
            }
        }
        &:nth-child(2) {
            width: calc(100% - 54px);
            margin: 0 0 0 14px;
            @include tablet {
                width: auto;
                margin: 0;
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        &:nth-child(3),
        &:nth-child(4) {
            text-align: center;
        }
        &:nth-child(4) {
            flex-grow: 1;
            text-align: right;
            @include tablet {
                text-align: center;
            }
        }
    }
    tr {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        border-bottom: 1px solid rgba(143, 143, 143, .5);
        @include tablet {
            display: table-row;
            border-bottom: none;
        }
    }
}
