.compatibility {
    padding: 50px 0;
    @include tablet {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    &_title {
        @extend %heading-1;
        text-align: center;
        display: block;
    }
    &_content {
        background: #fff;
        padding: 30px 12px;
        @include tablet {
            padding: 30px 32px;
        }
    }
    &_models {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        td:first-child & {
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &_model {
        display: inline-block;
        white-space: nowrap;
        cursor: pointer;
        margin-bottom: 10px;
        border-bottom: 1px dashed currentColor;
        transition: .2s ease opacity;

        &:hover {
            opacity: .6;
        }
        &:active {
            opacity: .6;
        }
    }

    table {
        th {
            font-weight: bold;
            font-size: 18px;
            line-height: 1;
            padding: 6px 0;
            text-align: left;
            padding-right: 10px;
            @include tablet {
                font-size: 25px;
                padding-right: 20px;
            }
        }

        td {
            font-size: 18px;
            line-height: 24px;
            padding: 22px 0 18px;
            vertical-align: top;
            border-bottom: 1px solid #EBEBEB;

            &:first-child {
                width: 10%;
            }
        }
        tr:last-child td {
            border-bottom: none;
            padding-right: 10px;
            @include tablet {
                padding-right: 20px;
            }
        }
    }
}
