.sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet {
        gap: 30px;
    }
    @include desktop {
        justify-content: flex-end;
    }

    &_content {
        display: flex;
        align-items: center;
        @include tablet {
            flex-grow: 1;
            order: 2;
            justify-content: flex-end;
        }
        @include desktop {
            flex-grow: 0;
            order: inherit;
        }
    }
    &_title {
        font-size: 14px;
        color: rgba(143, 143, 143, 0.5);
        @include desktop {
            font-size: 18px;
            line-height: 25px;
            margin: 0 16px 0 0;
        }
    }
}
